
.sidebar {
    background-color: #F46B6B;
    height: 100vh;
    padding: 0;
    color: white;
    width: 250px;
    position: fixed;
  }
  
 
  .sidebar .container {
    padding-top: 20px;
  }
  
  
  .nav-link-custom {
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .nav-link-custom:hover {
    background-color: transparent;
    opacity: 0.8;
  }
  
  
  .nav-link-custom svg {
    margin-right: 10px;
  }
  
  
  .nav-link-custom:hover {
    text-decoration: none;
  }
  
  
  .sidebar h5 {
    color: white;
  }
  
  .sidebar p {
    color: rgba(255, 255, 255, 0.7);
  }
  
  
  .offcanvas {
    width: 250px;
    background-color: #F46B6B;
    color: white;
  }
  